html,
body,
.view {
    height: 100%;
}
/* Navigation*/

body {
	position: relative;
}

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #00bcd4; /*cyan*/
}

footer.page-footer {
    background-color: #00bcd4;
    margin-top: -1px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #00bcd4;
    }
}
.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
	background-color: #4dd0e1;
}

/*Loader*/

.no-js #loader { 
    display: none;  
}
.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0; 
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/Gears.svg) center no-repeat #FFFFFF;
}

/*Call to action*/

.flex-center {
    color: #fff;
    padding-top: 200px;
}

.view.parallax {
    background: url("../img/tree.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.photography-background {
    background: url("../img/MarinPerson.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.typing h1 {
	display: inline;
	font-size: 40px;
	font-weight: 300;
}

main {
	color: #212121;
}

main h1 {
	/*text-align: center;*/
	margin-bottom: 40px;
    font-weight: bold;
}

.padded-section {
	padding-top: 60px;
}

.padded-section-extra {
    padding-top: 120px;
    padding-bottom: 90px;
}

.typing h1 {
	font-size: 3em;
}

/*About*/

#blacktusk {
	width: 100%;
	margin-bottom: 20px;
}

#about h1 {
    font-size: 3rem;
}

#photo-link {
    text-decoration: underline;
    color: #212121;
}

#contact-icons a {
    margin: 15px;
    color: #000000;
}

#contact-icons a {
   width: 50px;
   height: 50px;
   background-color: #00bcd4;
   border-radius: 50%;
   box-shadow: 0 2px 5px 0 #9E9E9E;
   
   line-height: 50px;
   color: white;
   text-align: center;
   transition: all 0.2s ease-in-out;
}

#contact-icons a:hover {
   background-color: #00E5FF;
   box-shadow: 0 4px 10px 0 #9E9E9E;
   transform: scale(1.025);
}

/*Resume*/

#resume {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../img/sailing.jpg");
    height: 300px; 
}

#resume .row {
    margin-top: 50px;
}

/*Portfolio*/

/*#portfolio .card {
	margin-bottom: 30px;
}*/

.description-left {
    padding-top: 200px;
    padding-left: 250px;
}

.description-right {
    padding-top: 200px;
    padding-right: 200px;
}

#portfolio img {
    max-width: 100%;
}

#portfolio h2 {
    font-weight: bold;
}

#portfolio p {
    padding-top: 20px;
    padding-bottom: 20px;
}

#portfolio a.btn {
    margin-left: 0px;
}

/*Contact*/

#contact {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../img/sunset.jpg");
	height: 850px;
}

#contact .card-body {
	padding: 30px;
}

#contact p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
    font-weight: bold;
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.contact-card {
    margin-top: 10%;
}

input[type=text]:focus:not([readonly]) + label,
textarea.md-textarea:focus:not([readonly]) + label {
    color: #00bcd4; 
}

input[type=text]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00bcd4;
    box-shadow: 0 1px 0 0 #00bcd4; 
}


/*Footer*/

footer img {
	width: 10%;
	border-radius: 50%;
	margin-bottom: 15px;
}

/*Parallax*/

#resume,
#contact {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Tablet Screens*/

@media screen and (max-width: 1024px) {
	.padded-section {
		padding: 40px 5px 10px 5px;
	}

    .padded-section-extra {
        padding: 50px 5px 30px 5px;
    }

    #about p {
        font-size: 12px;
    }

    #contact-icons a {
        font-size: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

	#resume .row {
		margin-top: 50px;
	}

    /* Portfolio */
    #portfolio .row {
        margin-bottom: 50px;
    }
    #portfolio h2 {
        font-size: 20px;
    }
    #portfolio p {
        font-size: 12px;
        padding-bottom: 5px;
    }
    .description-left {
        padding-left: 100px;
        padding-top: 90px;
    }
    .description-right {
        padding-right: 100px;
        padding-top: 90px;
    }

	#contact-icons {
		padding: 0;
	}

    footer img {
        width: 20%;
    }
}

/*Phone Screens*/

@media screen and (max-width: 480px) {
    .padded-section {
        padding: 40px 5px 10px 5px;
    }

    .padded-section-extra {
        padding: 40px 5px 10px 5px;
    }

    #about p {
        font-size: 1rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    #about h1 {
        margin-left: 10px;
    }
    #about.padded-section-extra {
        padding: 40px 0px 10px 0px;
    }

    #contact-icons a {
        font-size: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    #resume .row {
        margin-top: 50px;
    }

    /* Portfolio */
    .description-left {
        padding: 30px;
        text-align: center;
    }
    .description-right {
        padding: 30px;
        text-align: center;
    }

    #portfolio h2 {
        font-size: 2rem;
    }
    #portfolio p {
        font-size: 1rem;
    }
    #portfolio a.btn {
        margin-left: 6px;
    }

    #contact-icons {
        font-size: 20px;
    }

    footer img {
        width: 20%;
    }
}

/* Carousel*/

.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.car-active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/*Project*/

.project {
	margin-top: 40px;
	margin-bottom: 40px;
}

.project img {
	width: 100%;
}

figcaption {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
}

/*GRT*/

#grt .card {
	margin-bottom: 30px;
}